<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script>window.jQuery || document.write('<script src="https://code.jquery.com/jquery-1.12.0.min.js"><\/script>')</script>
<script src="{{ "/js/jquery.sticky-kit.min.js" | prepend: site.baseurl }}"></script>
<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ "/js/kidfiji.js" | prepend: site.baseurl }}"></script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='https://www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-74516503-1','auto');ga('send','pageview');
</script>

<!--
{% if page.url == "/" %}
  <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
{% endif %}
{% if page.layout == "graphic-design" or page.layout == "web-development" %}
  <script src="{{ "/js/jquery.sticky-kit.min.js" | prepend: site.baseurl }}"></script>
{% endif %}
-->
