---
layout: default
title: Portfolio
permalink: /portfolio/
---

<section class="content">
  <div class="content__header--dark">
    <div class="container">
      Web Development
    </div>
  </div>
</section>

<section class="portfolio-grid">
  {% for website in site.web-development %}
  <a href="{{ website.url | prepend: site.baseurl | prepend: site.url }}">
    <div class="portfolio-grid__square">
      {{ website.title }}
    </div>
  </a>
  {% endfor %}
  <div class="portfolio-grid__square">
    Test
  </div>
  <div class="portfolio-grid__square">
    Test
  </div>
  <div class="portfolio-grid__square">
    Test
  </div>
  <div class="portfolio-grid__square">
    Test
  </div>
  <div class="portfolio-grid__square">
    Test
  </div>
  <div class="portfolio-grid__square">
    Test
  </div>
  <div class="portfolio-grid__square">
    Test
  </div>
  <div class="portfolio-grid__square">
    Test
  </div>
</section>

<section class="content">
  <div class="content__header--dark">
    <div class="container">
      Graphic Design
    </div>
  </div>
</section>

<section class="portfolio-grid">
  {% for graphic in site.graphics %}
    <div class="portfolio-grid__square">
      {{ graphic.title }}
    </div>
  {% endfor %}
  <div class="portfolio-grid__square">
    Test
  </div>
  <div class="portfolio-grid__square">
    Test
  </div>
  <div class="portfolio-grid__square">
    Test
  </div>
  <div class="portfolio-grid__square">
    Test
  </div>
  <div class="portfolio-grid__square">
    Test
  </div>
  <div class="portfolio-grid__square">
    Test
  </div>
  <div class="portfolio-grid__square">
    Test
  </div>
  <div class="portfolio-grid__square">
    Test
  </div>
</section>
