---
layout: default
title: Portfolio
permalink: /portfolio/
---

<section class="content">
  <div class="content__header--dark">
    <div class="container">
      Web Development
    </div>
  </div>
</section>

<section class="portfolio-grid">
  {% for website in site.web-development %}
  <a href="{{ website.url | prepend: site.baseurl | prepend: site.url }}">
    <div class="portfolio-grid__square">
      <img src="{{ website.thumbnail | prepend: '/portfolio/web-development/img/' | prepend: site.url }}"/>
      <div class="portfolio-grid__square-overlay">
        <div class="portfolio-grid__square-text">{{ website.title }}</div>
      </div>
    </div>
  </a>
  {% endfor %}
</section>

<section class="content">
  <div class="content__header--dark">
    <div class="container">
      Graphic Design
    </div>
  </div>
</section>

<section class="portfolio-grid">
  {% for graphic in site.graphic-design %}
  <a href="{{ graphic.url | prepend: site.baseurl | prepend: site.url }}">
    <div class="portfolio-grid__square">
      <img src="{{ graphic.thumbnail | prepend: '/portfolio/graphic-design/img/' | prepend: site.url }}"/>
      <div class="portfolio-grid__square-overlay">
        <div class="portfolio-grid__square-text">{{ graphic.title }}</div>
      </div>
    </div>
  </a>
  {% endfor %}
</section>
