---
layout: default
---

<section class="content">
  <div class="content__header--dark">
    <div class="container">Graphic Design</div>
  </div>
</section>

<section class="portfolio-entry">
  <div class="portfolio-entry__container">
    <div class="portfolio-entry__content">
      {{ content }}
    </div>
    <div class="portfolio-entry__sidebar">
      <div class="portfolio-entry__title">{{ page.title }}</div>
      <p>{{ page.description }}</p>
      <div class="portfolio-entry__subtitle">Client</div>
      <p>{{ page.client }}</p>
      <div class="portfolio-entry__subtitle">Date</div>
      <p>{{ page.project-date }}</p>
      <div class="portfolio-entry__subtitle">Skills Used</div>
      <p>{{ page.skills }}</p>
      <a href="/portfolio" class="portfolio-entry__back-button">Go Back</a>
    </div>
  </div>
</section>
