---
layout: default
---

<section class="content">
  <div class="content__header--dark">
    <div class="container">Portfolio / Web Development</div>
  </div>
</section>

<section class="portfolio-entry">
  <div class="portfolio-entry__container">
    <div class="portfolio-entry__images">asd</div>
    <div class="portfolio-entry__sidebar">
      <div class="portfolio-entry__title">Portfolio piece title</div>
      <p>Stay focused. Life is what you make it, so let’s make it. Major key, don’t fall for the trap, stay focused. It’s the ones closest to you that want to see you fail. Lion! It’s on you how you want to live your life. Everyone has a choice. I pick my choice, squeaky clean. Eliptical talk. The weather is amazing, walk with me through the pathway of more success. Take this journey with me, Lion!</p>
      <div class="portfolio-entry__subtitle">Client</div>
      <p>Client Name</p>
      <div class="portfolio-entry__subtitle">Date</div>
      <p>April 26, 2016</p>
      <div class="portfolio-entry__subtitle">Skills Used</div>
      <p>HTML, CSS, Javascript</p>
    </div>
  </div>
</section>
